body {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%)
    
}

h1 {
    margin: .4em 0;
}

p {
    color:  hsl(229, 6%, 66%);
    font-weight: 200;
}

.card {
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    text-align: left;
    width: 25%;
}

.card-image {
    position: absolute;
    right: 10px;
}

.powered {
    font-weight: 600;
    color: hsl(234, 12%, 34%)
}

.reliable {
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.teal-line {
    height: 3px;
    margin: 0;
    border: none;
    background-color: hsl(180, 62%, 55%);
}

.title-area {
    margin: 6% auto 5% auto;
}

.title-content {
    margin: 0 auto;
    width: 33%
}